[submodule "Carthage/Checkouts/BMO"]
	path = Carthage/Checkouts/BMO
	url = ssh://git@github.com/happn-app/BMO.git
[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = ssh://git@github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/KVObserver"]
	path = Carthage/Checkouts/KVObserver
	url = ssh://git@github.com/happn-app/KVObserver.git
[submodule "Carthage/Checkouts/RetryingOperation"]
	path = Carthage/Checkouts/RetryingOperation
	url = ssh://git@github.com/happn-app/RetryingOperation.git
[submodule "Carthage/Checkouts/CollectionLoader"]
	path = Carthage/Checkouts/CollectionLoader
	url = ssh://git@github.com/happn-app/CollectionLoader.git
[submodule "Carthage/Checkouts/CollectionAndTableViewUpdateConveniences"]
	path = Carthage/Checkouts/CollectionAndTableViewUpdateConveniences
	url = ssh://git@github.com/happn-tech/CollectionAndTableViewUpdateConveniences.git
[submodule "Carthage/Checkouts/AsyncOperationResult"]
	path = Carthage/Checkouts/AsyncOperationResult
	url = ssh://git@github.com/happn-app/AsyncOperationResult.git
