github "happn-app/BMO" "master"
github "happn-app/CollectionLoader" "master"
github "happn-app/RetryingOperation" ~> 1.0

github "happn-tech/CollectionAndTableViewUpdateConveniences" ~> 1.0

github "Alamofire/Alamofire" ~> 4.7
